@import '../../partials/mixins';
@import '../../partials/variables';

.signup {

    &-form {

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 4rem;
        }

        &-header {
            @include header-1;
            margin-bottom: 1.25rem;
        }

        &-input {
            padding: 1rem;
            width: 70%;
            @include text;
            margin-bottom: 1rem;
            border-radius: 0.25rem;
            color: $alternate-col;

            &:focus {
                outline: 0;
            }
        }

        &-btn {
            @include header-3;
            background-color: $primary-col;

            &:focus {
                outline: 0;
            }
        }
    }
}

.logo {
     color: $primary-col;
     @include header-1;
     font-size: 6rem;
     text-align: center;
     margin-bottom: 3rem;
     letter-spacing: 0.25rem;
}