@import '../../partials/mixins';
@import '../../partials/variables';

.team-details {
    
    &-comment {
        @include header-1;
        margin-bottom: 1.5rem;
    }

    &-container {
        width: 100%;
        margin-bottom: 1.5rem;
        border-radius: 1.5rem;
        overflow: hidden;
    }

    &-username-container {
        background-color: $secondary-col;
        padding: 1.25rem 1.5rem 1.5rem 1.5rem;
    }

    &-icon-container-username {
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
    }

    &-icon-container {
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &-icon--center {
        width: 1.5rem;
        display: flex;
        justify-content: center;
        margin-right: 0.5rem;
        height: 1.5rem;
    }

    &-icon {
        height: 1.5rem;
        margin-right: 0.5rem;
    }

    &-team-name {
        @include header-2;
    }

    &-username {
        @include header-3;
        margin-bottom: 0;
    }

    &-time-players-container {
        background-color: $primary-col;
        padding: 1.5rem 1.5rem 0.75rem 1.5rem;
    }

    &-location {
        @include header-3;
        margin-bottom: 0;    
        text-decoration: underline;
    }

    &-time {
        @include header-4;
        margin-bottom: 0;
    }

    &-players-needed {
        @include header-4;
        margin-bottom: 0;
    }

    &-btn {
        background-color: $secondary-col;
        margin: 0;
        color: $grey;
        margin-bottom: 0.75rem;
    
        &:focus {
            outline: 0;
        }
    }
}

.request {

    &-container {
        padding: 1rem 1.25rem 1.25rem 1.25rem;;
        background-color: $secondary-col;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1.25rem;
        justify-content: center;
    }

    &-text {
        padding: 1rem;
        @include header-3;
        margin-bottom: 0;
    }
}

.show {
    display: flex;
}

.hide {
    display: none;
}