@import '../../partials/mixins';
@import '../../partials/variables';

.player-profile {

    &-form {

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;
        }

        &-header {
            @include header-1;
            margin-bottom: 1.25rem;
        }

        &-input {
            padding: 1rem;
            width: 70%;
            @include text;
            margin-bottom: 1rem;
            border-radius: 0.25rem;
            color: $alternate-col;

            &:focus {
                outline: 0;
            }
        }

        &-btn {
            background-color: $primary-col;

            &:focus {
                outline: 0;
            }
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -90%);
    background-color: #2f333a;
    margin-top: 3rem;
    height: 12rem;
    width: 16rem;
    border-radius: 0.125rem;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px 0px #3333339e;
    /* padding: 1rem 1rem 0 1rem; */
    flex-direction: column;
    justify-content: flex-end;



    &-text {
        @include header-2;
        margin-bottom: 2rem;
        padding: 0 1rem;
        text-align: center;
    }

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0000008f;
      }

    &-btn {
    background-color: $primary-col;
    width: 100%;
    @include header-4;
    padding: 0.75rem 3rem;
    color: $grey;
    min-width: 10.875rem;

    &:focus {
        color: unset;
    }
    }
    
  }

  
