@import '../../partials/mixins';
@import '../../partials/variables';

.player-profile {

    &-form {

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;
        }

        &-header {
            @include header-1;
            margin-bottom: 1.25rem;
        }

        &-input {
            padding: 1rem;
            width: 70%;
            @include text;
            margin-bottom: 1rem;
            border-radius: 0.25rem;
            color: $alternate-col;

            &:focus {
                outline: 0;
            }
        }

        &-btn {
            background-color: $primary-col;

            &:focus {
                outline: 0;
            }
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -100%);
    background-color: $secondary-col;
    margin-top: 3rem;
    height: 8rem;
    width: 16rem;
    border-radius: 0.5rem;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px 0px #3333339e;


    &-text {
        @include header-2;
        margin-bottom: 0;
    }
    
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008f;
  }
