@import '../../partials/mixins';
@import '../../partials/variables';

.location-card {

    &-container {
        margin-bottom: 1.5rem;
        // border-radius: 0.75rem;
        // box-shadow: 1px 1px 5px 0px #0000009e;
        overflow: hidden;
        border-radius: 10px;
    }

    &-image-container {
        width: 100%;
        height: 8rem;
        overflow: hidden;
    }

    &-image {
        width: 100%;
    }

    &-details-container {
        background-color: $secondary-col;
        padding: 1rem;
    }

    &-name {
        @include header-2;
        margin-bottom: 1rem;
    }

    &-distance {
        @include text;
        width: 50%;
    }

    &-teams-number {
        @include text;
        width: 50%;
    }

    &--flex-row {
        display: flex;
    }
}