@import '../../partials/global';
@import '../../partials/mixins';
@import '../../partials/typography';
@import '../../partials/variables';

.header {
    &-logo {
        margin: 0;
    }

    &-container {
        background-color: $alternate-col;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        padding: 0.5rem;
        width: 100%;
    }
}