@import '../../partials/mixins';
@import '../../partials/variables';



.location {

    &-page-container {
        padding-bottom: 1rem;
    }

    &-image-container {
        width: 100%;
        height: 11rem;
        overflow: hidden;
    }

    &-image {
        width: 100%;
    }

    &-details-container {
        padding: 1.5rem 1rem;
        margin-bottom: 1rem;
    }

    &-name {
        @include header-2;
        margin-bottom: 1rem;
    }

    &-description {
        @include text;
        margin-bottom: 0.75rem;
    }

    &-address {
        @include header-4;
        margin-bottom: 0;
        margin-bottom: 0.75rem;
    }


    &-distance {
        @include header-4;
        margin-bottom: 0;
    }

    &-team-card-container {
        padding: 0 1rem;
    }

    &-teams-number {
        @include text;
        width: 50%;
        margin-bottom: 0;
    }

    &--flex-row {
        display: flex;
    }
}


