@import './mixins';
@import './typography';
@import './variables';

* {
	margin: 0;
	padding: 0;
    border: 0;
    font-family: roboto-reg;
    font-weight: 100;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: $primary-font-col;
}

body{
    background: $alternate-col;
    // background-image: linear-gradient(to right, #134e5e, #71b280); 
}

.site-container {
    padding: 4.5rem 1rem 3rem 1rem;

    &--vertical-padding {
        padding-top: 3.375rem;
        padding-bottom: 3rem;
    }
}

