@import './mixins';
@import './typography';
@import './variables';

* {
	margin: 0;
	padding: 0;
    border: 0;
    font-family: roboto-reg;
    font-weight: 100;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: $primary-font-col;
}

body{
    background: $alternate-col;
    // background-image: linear-gradient(to right, #134e5e, #71b280); 
}

.site-container {
    padding: 5rem 1rem 3rem 1rem;

    &--vertical-padding {
        padding-top: 3.375rem;
        padding-bottom: 3rem;
    }
}

.slider {

    &-container {
        margin-bottom: 2rem;
    }
    
    &-distance-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &-distance {
        @include header-4;
        margin: 0;
    }

    &-mechanism-container {
        padding: 0 0.5rem;
    }

    &-btn {
        margin-top: 1.5rem;
        background-color: $primary-col;

        &:focus {
            outline: 0;
        }
    }
}

.btn {
    @include header-4;
    border-radius: 1.5rem;
    padding: 0.75rem 3rem;
    color: $grey;
}