@font-face {
    font-family: roboto-reg;
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto-medium;
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}