$primary-font-col: #def2f1;
$secondary-font-col: #323232;

$primary-col: #3aafa9;
$secondary-col: #2f333a;
$alternate-col: #212529;
// $teamCardColor: #6426a9;
$teamCardColor: #7626a9;
$grey: #def2f1;
$white: #ffffff;
$blue: #2679a9